.grid {
  padding: 10px 15px;
  border: 1px solid rgb(24, 84, 133);
  text-align: center;
  font-size: 14px;
  font-family: sans-serif;
  &:hover {
    background-color: #ffdf8c;
  }
}
.grid__item {
  text-align: center;
  font-size: 1.33em;
}

/* Сетка */
.grid {
  display: grid;
  border: 1px solid rgb(24, 84, 133);
  grid-template-columns: minmax(200px, 500px) 100px 100px 100px;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

// @media only screen and (min-width: 768px) {
// 	.grid__container {
// 		grid-template-columns: repeat(2, 1fr);
// 		grid-template-rows: repeat(4, 1fr);
// 		max-width: 583px;
// 	}
// }

// @media only screen and (min-width: 1024px) {

// 	.grid__container {
// 		grid-template-columns: repeat(4, 1fr);
// 		grid-template-rows: repeat(2, 1fr);
// 		max-width: 1165px;
// 	}
// }
