@import "@scss/variables";

.shopping {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  width: calc(100vw - 530px);
  height: calc(100vh - 100px);
  transform: translate(-50%, -50%);
  box-shadow: 1px 2px 20px #f3f3f3;
  border-radius: 10px;
  border: 1px solid #f1f1f1;
  font-size: 14px;

  &__sidebar {
    background-color: $grayColor;
    width: 400px;
    height: calc(100%-120px);
    border-right: 1px solid $grayColor;
    padding: 50px 20px;
    overflow-y: auto;
  }

  &__tasks {
    flex: 1;
  }
}
