.tasks {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 80%;

  &__top {
      display: flex;
     justify-content: space-between;
     align-items: center;
  }

  &__cotent {
    margin-top: 40px;  
    flex: 1;
  }
}