.tasks {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 80%;
  max-height: 400px;
  overflow: auto;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__cotent {
    margin-top: 40px;
    flex: 1;
  }
}
