.tasks {
    display: flex;
    justify-content: space-between;
   
}



.field {
    background: #ffffff;
    border: 1px solid #efefef;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 8px 12px;
  
    font-size: 14px;
    margin-top: 20px;

    &:focus {
      border-color: #dbdbdb;
    }
  }